* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(255, 255, 255, 0.466);
}

section {
    padding-top: 100px;
    justify-content: center;
}


/********** TEXTO **********/
.titulo {
    font-family: 'Courgette', cursive;
    font-size: 230%;
    color: rgb(39, 39, 39);
    text-align: center;
}

.mainText {
    margin: auto;
    padding: 5%;
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    text-align: center;
}

/********** NAVBAR **********/
.navBar {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.navBar__list {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}


.navBar__list a {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    color: rgb(32, 32, 32);
    text-decoration: none;
    margin: 10rem 2rem;
}

#navBar_mobile--menuIcon {
    width: 50px;
    display: none;
}

#navBar_mobile {
    display: flex;
    justify-content: end;
    align-items: center;
    display: none;
}

#navBar_desktop {
    display: block;
}

/********** SUBMENU *********/
.submenu {
    display: none;
}

.navBar__menu:hover>.submenu {
    display: block;
    list-style: none;
    position: absolute;
    background-color: #ffccc0;
}

#submenuMobile li {
    list-style: none;
    background-color: #ffccc0;
    margin: 0 -80px;
}

.submenu li {
    padding: 5px 0;
}

.submenu li:hover {
    background-color: #ffddcd;

}

/********** LOGO **********/
.logo {
    width: 100px;
    margin: 1vw;
    border-radius: 50%;
    border-bottom: 5px solid #F2A7BB;
    z-index: 2;
}

.logo_mobile {
    display: none;
    position: fixed;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    top: 20px;
    border-radius: 50%;
    border-bottom: 5px solid #F2A7BB;
    z-index: 2;
}

/********** BANNER **********/
.banner {
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}


.banner__inicio {
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 30%), url(../assets/img/bg.jpg);
    animation: cambiarImagen 60s ease-in-out infinite;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.banner__gallery {
    background-image: url(../assets/img/gallery_bg.jpg);
}

.banner__about {
    background-image: url(../assets/img/about_bg.jpg);
}

.banner__quote {
    background-image: url(../assets/img/cotiza_bg.webp);
}

/*********** PRODUCTOS **********/
/* index.html */

.prods__card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.prods__card img {
    width: 100%;
}

.prods__card a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.prods__card a h3 {
    margin: 2vh auto;
    font-size: 1.2em;
    color: #2a3141;
}

.zoom:hover {

    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.highlight:hover {
    color: white;
    text-shadow: 0 5px 10px #fff2f2;

}

.link {
    text-decoration: none;
    color: #2a3141;
}


/*********** quote.html *******/

.quoteGrid {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "pic1 pic2 pic3"
        "text1 text2 text3";
    align-items: center;
    justify-items: center;
    column-gap: 5rem;
}

.quoteImg {
    width: 100%;
    max-width: 300px;
    margin-top: 4vw;
}

.quoteText {
    margin: 1vw;
    font-size: 1.6vw;
    text-align: center;
}

#quoteImg1 {
    grid-area: pic1;
}

#quoteImg2 {
    grid-area: pic2;
}

#quoteImg3 {
    grid-area: pic3;
}

#quoteText1 {
    grid-area: text1;
}

#quoteText2 {
    grid-area: text2;
}

#quoteText3 {
    grid-area: text3;
}

/********** TABLA **********/
/* quote.html */
table {
    width: 80%;
    margin: 5% auto;
}

table,
th,
td {
    border: solid rgb(221, 221, 221);

}

td {
    padding: 2%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

td ul {
    /* margin-left: 20px; */
    list-style: none;
}

/********** COTIZADOR **********/
/* quote.html */
.cotizador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.cotizador select {
    margin: 10px 0;
    padding: 10px;
}

.cotizador label {
    text-align: left;
}

.cotizador__btn--ok {
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    background-color: #C9EEF2;
}

.cotizador__btn--ok:hover {
    background-color: #41CAD9;
}

.precio {
    height: 40px;
    font-size: large;
}

/********** ICONOS **********/
.socialIcon__container {
    text-align: center;
}

.socialIcon__container a {
    font-size: 80px;
    margin: 5vw;
}

/********** COMENTARIOS **********/

.commentContainer {
    margin: auto;
    padding: 5vw;
    width: 60%;
    height: 30%;
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    color: rgb(119, 119, 119);
    text-align: center;
}

/********** FOOTER **********/
footer {
    height: 100px;
    background-color: rgb(20, 20, 20);
}

/********** PROFILE IMG **********/
/* about.html */
.profile_container {
    width: 80%;
    margin: 10vw auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-rows: 1fr;
    grid-template-areas:
        "titulo titulo titulo"
        "picture short short"
        "picture large large"
    ;
}

.name {
    grid-area: titulo;
    padding-bottom: 5vw;
    font-size: 72px;
}

.profile__img {
    max-width: 100%;
}

.short_description {
    grid-area: short;
    width: 95%;
    font-size: 1.8vw;
    font-weight: bold;
    padding: 0;
    color: #61035c;
}

.large_description {
    grid-area: large;
    width: 95%;
    font-size: 1.5vw;
    padding: 0;
}

/********** COLORES **********/
/* Paleta
Rosa-3-hex { color: #F2A7BB; }
Rosa-2-hex { color: #F285A2; }
Rosa-1-hex { color: #A62E44; }
Celeste-2-hex { color: #41CAD9; }
Celeste-1-hex { color: #C9EEF2; }

*/

.pink {

    background-color: #F2A7BB;
}

.skyblue {
    background-color: #C9EEF2;
}

.facebookColor {
    color: #3b5998;
}

.instagramColor {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.whatsappColor {
    color: #25d366;
}

/*******************************************************/
/********************* MEDIA QUERIES *******************/
/*******************************************************/

/*--------------------- MODO TABLET -------------------*/
/*-----------------------------------------------------*/
@media screen and (max-width: 1024px) {
    /*+++++++++++++ Barra de navegacion +++++++++++++++*/

    #navBar_desktop {
        display: none;
    }

    #navBar_mobile {
        display: flex;
    }

    #navBar_mobile--menuIcon {
        display: block;
    }

    .navBar__list {
        margin-right: 20px;
    }

    .logo_mobile {
        display: block;
    }


    .commentContainer {
        font-size: 25px;
    }

    .socialIcon__container a {
        font-size: 60px;
    }


    /*++++++++++++++ about.html +++++++++++++++*/
    .profile_container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr auto 1fr;
        grid-template-areas:
            "titulo titulo titulo titulo"
            "picture picture large large"
            "short short short short";
    }

    .name {
        font-size: 50px;
    }

    .short_description {
        width: 100%;
        padding: 0;
        font-size: 2vw;
    }

    .large_description {
        padding: 0;
        font-size: 1.8vw;
    }

    /*++++++++++++++ quote.html +++++++++++++++*/
    .quoteGrid {
        grid-template-columns: 200px auto 200px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "pic1 text1 text1"
            "text2 text2 pic2"
            "pic3 text3 text3";
        justify-content: space-around;
        column-gap: 0;
    }

    .quoteText {
        font-size: 1rem;
    }

}





/*--------------------- MODO MOBILE -------------------*/
/*-----------------------------------------------------*/

@media screen and (max-width: 735px) {

    /*Utiliza la misma barra de navegacion que la tablet*/


    /****************** Galeria gallery.html *****************/

    .commentContainer {
        font-size: 20px;
    }

    .socialIcon__container a {
        font-size: 50px;
    }

    /*++++++++++++++ about.html +++++++++++++++*/
    .profile_container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "titulo"
            "picture"
            "short"
            "large";
    }

    .short_description {
        font-size: 18px;
        padding: 2vw 0;
    }

    .large_description {
        font-size: 15px;
        padding: 4vw 0;
    }

    .name {

        font-size: 6vw;
    }

    /*++++++++++++++ quote.html +++++++++++++++*/
    .quoteGrid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "pic1"
            "text1"
            "pic2"
            "text2"
            "pic3"
            "text3";
    }

    .quoteText {
        font-size: 1.5rem;
        max-width: 300px;
        text-align: justify;
    }

}

@keyframes cambiarImagen {
    0% {
        background-size: 100%;
    }


    50% {
        background-size: 120%;
        background-position: center;
    }

    100% {

        background-size: 100%;
    }

}

@keyframes cambiarImagen {
    0% {
        background-size: 100%;
    }


    50% {
        background-size: 120%;
    }

    100% {

        background-size: 100%;
    }

}
