.instagramColor {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.color--facebook {
  color: #3b5998; }

.color--whatsapp {
  color: #25d366; }

.color--send {
  color: #0792a1; }

.prods__card {
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .prods__card img {
    width: 100%; }
  .prods__card a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif; }
    .prods__card a h3 {
      margin: 2vh auto;
      font-size: 1.2em;
      color: #2a3141; }

footer {
  height: 100px;
  background-color: #141414; }

.banner {
  min-height: 80vh; }

.banner__inicio {
  background: linear-gradient(0deg, white 0%, rgba(0, 0, 0, 0) 30%), url(../assets/img/bg4.jpg); }

.bannerZoom {
  animation: zoomBanner 30s ease-in-out infinite;
  object-fit: cover;
  background-size: cover;
  background-position: center; }

.banner__gallery {
  background-image: url(../assets/img/gallery_bg.jpg); }

.banner__about {
  background-image: url(../assets/img/about_bg.jpg); }

.banner__quote {
  background-image: url(../assets/img/cotiza_bg.webp); }

/********** NAVBAR **********/
.navBar {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F2A7BB; }

.navBar__list {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center; }
  .navBar__list a {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    color: #272727;
    text-decoration: none;
    margin: 10rem 2rem; }

#navBar_mobile--menuIcon {
  width: 50px;
  display: none; }

#navBar_mobile {
  display: flex;
  justify-content: end;
  align-items: center;
  display: none; }

#navBar_desktop {
  display: block; }

/********** SUBMENU *********/
.submenu {
  display: none;
  padding: 0; }
  .submenu li {
    padding: 5px 0; }
    .submenu li:hover {
      background-color: #F2A7BB; }

.navBar__menu:hover > .submenu {
  display: block;
  list-style: none;
  position: absolute;
  background-color: #F285A2; }

#submenuMobile li {
  list-style: none;
  background-color: #F2A7BB;
  margin: 0 -80px; }

/********** LOGO **********/
.logo, .logo_desktop, .logo_mobile {
  width: 100px;
  border-radius: 50%;
  border-bottom: 5px solid #F2A7BB;
  z-index: 2; }

.logo_desktop {
  margin: 1vw; }

.logo_mobile {
  display: none;
  position: fixed;
  left: 50%;
  margin-left: -50px;
  top: 20px; }

.name {
  padding-bottom: 5vw;
  font-size: 72px; }

.profile__img {
  max-width: 100%; }

/*--------------------- MODO TABLET -------------------*/
/*-----------------------------------------------------*/
@media screen and (max-width: 1024px) {
  #navBar_desktop {
    display: none; }
  #navBar_mobile {
    display: flex; }
  #navBar_mobile--menuIcon {
    display: block; }
  .navBar__list {
    margin-right: 20px; }
  .logo_mobile {
    display: block; }
  .commentContainer {
    font-size: 25px; }
  .socialIcon__container a {
    font-size: 60px; }
  /*++++++++++++++ about.html +++++++++++++++*/
  .name {
    font-size: 50px; } }

/*--------------------- MODO MOBILE -------------------*/
/*-----------------------------------------------------*/
@media screen and (max-width: 735px) {
  /*Utiliza la misma barra de navegacion que la tablet*/
  .banner__inicio {
    background: linear-gradient(0deg, white 0%, rgba(0, 0, 0, 0) 30%), url(../assets/img/macarons.jpg);
    animation: cambiarImagen 60s ease-in-out infinite;
    object-fit: cover;
    background-size: cover;
    background-position: center; }
  /****************** Galeria gallery.html *****************/
  .commentContainer {
    font-size: 20px; }
  .socialIcon__container a {
    font-size: 50px; }
  /*++++++++++++++ about.html +++++++++++++++*/
  .name {
    font-size: 6vw; } }

@keyframes zoomBanner {
  0% {
    background-size: 100%; }
  50% {
    background-size: 150%; }
  100% {
    background-size: 100%; } }

* {
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  background-color: white; }

section {
  padding-top: 100px;
  justify-content: center; }

.section--bg {
  background-color: #C9EEF2; }

/********** TEXTO **********/
.titulo, .titulo_primario, .titulo_secundario {
  font-family: 'Courgette', cursive;
  color: #272727;
  text-align: center; }

.titulo_primario {
  font-size: 430%; }

.titulo_secundario {
  font-size: 230%; }

.mainText {
  margin: auto;
  padding: 5%;
  font-family: 'Montserrat', sans-serif;
  width: 60%;
  text-align: center; }

.zoom:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out; }

.highlight:hover {
  color: white;
  text-shadow: 0 5px 10px rgba(255, 255, 255, 0.466); }

.link {
  text-decoration: none;
  color: #41CAD9; }

.btn--highlight:hover {
  background-color: #41CAD9; }

/********** ICONOS **********/
.socialIcon__container {
  text-align: center; }
  .socialIcon__container a {
    font-size: 80px;
    margin: 5vw; }

/********** COMENTARIOS **********/
.commentContainer {
  margin: auto;
  padding: 5vw;
  width: 60%;
  height: 30%;
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
  color: #777777;
  text-align: center; }
