@import"./base/colors";
@import"./components/cards";
@import"./components/footer";
@import "./components/banner";
@import "./components/navBar";
@import "./components/profileImg";
@import "./pages/about";
@import "./pages/gallery.scss";
@import "./pages/quote.scss";
@import"./base/mediaQueries";
@import"./base/keyframes";

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $blanco;
}

section {
    padding-top: 100px;
    justify-content: center;
}

.section--bg{
    background-color: $lightblue_0;
}


/********** TEXTO **********/
.titulo {
    font-family: 'Courgette', cursive;
    font-size: 230%;
    color: $negro;
    text-align: center;
}

.mainText {
    margin: auto;
    padding: 5%;
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    text-align: center;
}

.zoom:hover {

    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.highlight:hover {
    color: $blanco;
    text-shadow: 0 5px 10px $bg;

}

.link {
    text-decoration: none;
    color: $lightblue_1;
}

/********** ICONOS **********/
.socialIcon__container {
    text-align: center;
    a {
        font-size: 80px;
        margin: 5vw;
    }
}


/********** COMENTARIOS **********/

.commentContainer {
    margin: auto;
    padding: 5vw;
    width: 60%;
    height: 30%;
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    color: rgb(119, 119, 119);
    text-align: center;
}







