.banner {
  min-height: 80vh;
}

.banner__inicio {
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 30%),
    url(../assets/img/bg4.jpg);
}

.bannerZoom {
  animation: zoomBanner 30s ease-in-out infinite;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.banner__gallery {
  background-image: url(../assets/img/gallery_bg.jpg);
}

.banner__about {
  background-image: url(../assets/img/about_bg.jpg);
}

.banner__quote {
  background-image: url(../assets/img/cotiza_bg.webp);
}
