.prods__card {
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  img {
    width: 100%;
    object-fit: fill;
  }
  a {
    text-decoration: none;
    font-family: map-get($fonts, montserrat );
    h3 {
      margin: 2vh auto;
      font-size: 1.2em;
      color: #2a3141;
    }
  }
}

.cart{
  width: 80%;
  margin: 0 auto;
}



.card--title{
  color: #444;
}
.card--description{
  color: #444;
}
.card--price{
  font-size: 200%;
  font-weight: 600;
  color: #c00;
  width: 100%;
}
.card--discount{
  background-color: green;
  color: white;
  width: 30%;
}
.card--regularPrice{
  color: #999;
}
.cartBtn{
  width: 50%;
  background-color: #3483fa;
  color: #a8cbff;
  border: none;
  border-radius: 5px;
  height: 38px;;
}
.cartBtn:hover{
  background-color: #0155d3;
}
