/********** NAVBAR **********/
.navBar {
  position: fixed;
  @include sizes(100%, 100px);
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $pink_0;
}

.navBar__list {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  a {
    font-family: map-get($fonts, montserrat );
    font-size: medium;
    color: $negro;
    text-decoration: none;
    margin: 10rem 2rem;
  }
}

#navBar_mobile--menuIcon {
  width: 50px;
  display: none;
}

#navBar_mobile {
  display: flex;
  justify-content: end;
  align-items: center;
  display: none;
}

#navBar_desktop {
  display: block;
}

#verCarrito:hover{
  color: rgb(255, 255, 255);
}

/********** SUBMENU *********/
.submenu {
  display: none;
  padding: 0;
  li {
    padding:  0;

    &:hover {
      background-color: $pink_0;
    }
  }
}

.navBar__menu:hover > .submenu {
  display: block;
  list-style: none;
  position: absolute;
  background-color: $pink_1;

}

#submenuMobile {
  li {
    list-style: none;
    background-color: $pink_0;
    margin: 0 -80px;
  }
}

  .submenu li > a:visited{
    display: hidden;
  }

/********** LOGO **********/
.logo{
  width: 100px;
  border-radius: 50%;
  border-bottom: 5px solid $pink_0;
  z-index: 2;
}
.logo_desktop {
  @extend .logo;
  margin: 1vw;
  
}

.logo_mobile {
  @extend .logo;
  display: none;
  position: fixed;
  left: 50%;
  margin-left: -50px;
  top: 20px;
}
