@keyframes cambiarImagen {
    0% {
        background-size: 100%;
    }


    50% {
        background-size: 120%;
        background-position: center;
    }

    100% {

        background-size: 100%;
    }

}

@keyframes cambiarImagen {
    0% {
        background-size: 100%;
    }


    50% {
        background-size: 120%;
    }

    100% {

        background-size: 100%;
    }

}
