/*--------------------- MODO TABLET -------------------*/
/*-----------------------------------------------------*/
@media screen and (max-width: 1024px) {
  #navBar_desktop {
    display: none;
  }

  #navBar_mobile {
    display: flex;
  }

  #navBar_mobile--menuIcon {
    display: block;
  }

  .navBar__list {
    margin-right: 20px;
  }

  .logo_mobile {
    display: block;
  }
  .titulo_primario{
    font-size: 7vw;
  }
  .mainText{
    width: 80%;
  }
  .commentContainer p{
    font-size: 25px;
  }
  .container--contacto{
    width: 60%;
  }

  .socialIcon__container {
    a {
      font-size: 60px;
    }
  }

  .name {
    font-size: 50px;
  }
}

/*--------------------- MODO MOBILE -------------------*/
/*-----------------------------------------------------*/

@media screen and (max-width: 735px) {
  /*Utiliza la misma barra de navegacion que la tablet*/
  .banner__inicio {
    @include banner;
    background: linear-gradient(
        0deg,
        rgb(255, 255, 255) 0%,
        rgba(0, 0, 0, 0) 30%
      ),
      url(../assets/img/inicio_bg_mobile.webp);
    
  }

  .banner__quote{
    @include banner;
    background-image: url(../assets/img/cotiza_bg_mobile.webp);
    
  }
  .banner__gallery{
    @include banner;
    background-image: url(../assets/img/gallery_bg_mobile.webp);
   
  }
  .banner__about{
    @include banner;
    background-image: url(../assets/img/about_bg_mobile.webp);
  
  }
  .titulo_primario{
    font-size: 10vw;
  }
  .mainText{
    width: 95%;
  }
  .commentContainer p{
    font-size: 20px;
  }
  .container--contacto{
    width: 95%;
  }

  .socialIcon__container {
    a {
      font-size: 50px;
    }
  }

  .name {
    font-size: 6vw;
  }
}
