/********** TEXTO **********/
.titulo{
    font-family: map-get($fonts, courgette );
    color: $negro;
    text-align: center;
  }
  .titulo_primario{
    @extend .titulo;
    font-size: 4vw;
  }
  
  .titulo_secundario {
    @extend .titulo;
    font-size: 230%;
  }
  
  .mainText {
    margin: auto;
    padding: 5%;
    font-family: map-get($fonts, montserrat );
    width: 60%;
    text-align: center;
  }

  .carousel--text{
    color: $negro;
    background-color: #f285a285;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0;
  }
  .commentContainer {
    margin: auto;
    padding: 5vw;
    @include sizes(80%, 30%);
    font-family: map-get($fonts, rajdhani );
    font-size: 30px;
    color: rgb(119, 119, 119);
    text-align: center;
  }
  
  
  .carousel--size{
    width: 70%;
    margin: 0 auto;
  }
  .container--contacto{
    margin-bottom: 5vh;
    width: 40%;
    padding: 1rem;
    border: solid 2px $lightblue_1;
    background-color: $pink_0;
  }
  