$pink_0: #F2A7BB;
$pink_1: #F285A2;
$pink_2: #A62E44;
$lightblue_0:#C9EEF2;
$lightblue_1: #41CAD9;
$face: #3b5998;
$whats: #25d366;
$bg: rgba(255, 255, 255, 0.466);
$negro: #272727;
$blanco: white;
$gris: #777777;
